body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.form-floating {
  position: relative;
  margin-bottom: 1rem;
}

.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: black;
}

.form-floating input {
  padding-top: 1.5rem;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  font-size: 0.75rem;
  transform: translateY(-1.5rem);
}
